@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&family=Open+Sans:wght@300&family=Outfit:wght@200;400;500;600;700;800;900&display=swap");
@import url("./element-styles.css");

body {
  font-family: var(--font-family);
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
}

.switcher {
  text-align: center;
  font-size: 0.9rem;
  color: #03045e;
}

.go_back {
  text-align: end;
  font-size: 0.9rem;
}

.icon {
  cursor: pointer;
}

.forgot_pswd {
  float: right;
  font-size: 0.9rem;
  color: #03045e;
}

h4 {
  font-size: 0.9rem;
  text-align: center;
  color: #03045e;
  margin-top: 0px;
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 0.9rem;
    text-align: center;
  }
  /* aside {
    transition: 1.3s;
    width: 0;
    overflow-x: hidden;
  } */
}
